<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
    <h1> welcome back guys</h1>

    <form action="/lets_start">


  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="username" name="username"><br><br>
  <input type="submit and start" value="Submit and start ">

</form>

<input type="submit" value="Submit">
<img  src="/static/ebey.jpeg">
 <script type="script.js"></script>
</body>


</html>
