<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <style>
  body {
  background-color: lightblue;
}

  
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
</style>
</head>
<body>
	<h1> start shopping</h1>
	<img  src="/static/clothes2.jpeg">
	<img  src="/static/ebey.jpeg">
	<img  src="/static/c.jpg">
    <img  src="/static/a.jpeg">
    <img  src="/static/h.jpeg">
    <img  src="/static/w.jpg">
    <img  src="/static/t.jpeg">
    <img  src="/static/x.jpeg">
</body>
</html>